// Mobile size 24
// Desktop 28
// Both 800
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    text-align: center;
}
.headerText {
    font-size: 1.5rem;
    color: $neon-green;
    letter-spacing: 0.4rem;
    line-height: 1.8rem;

    @include responsive(smallTablet) {
        font-size: 1.3rem;
    }
}
.bodyText {
    font-size: 2.4rem;
    color: $primary-cyan;
    padding-top: 2.4rem;
    letter-spacing: -0.3px;
    line-height: 3.8rem;

    @include responsive(smallTablet) {
        font-size: 2.1rem;
    }
}